[package]
authors = ["Yuekai Jia <equation618@gmail.com>"]
description = "Runtime library of ArceOS"
documentation = "https://arceos-org.github.io/arceos/axruntime/index.html"
edition.workspace = true
license.workspace = true
name = "axruntime"
repository = "https://github.com/arceos-org/arceos/tree/main/modules/axruntime"
version = "0.1.0"

[features]
default = []

alloc = ["axalloc"]
driver-dyn = ["axdriver/dyn"]
ipi = ["dep:axipi"]
irq = ["axhal/irq", "axtask?/irq", "percpu"]
paging = ["axhal/paging", "axmm"]
smp = ["axhal/smp", "axtask?/smp"]
tls = ["axhal/tls", "axtask?/tls"]

display = ["axdriver", "axdisplay"]
fs = ["axdriver", "axfs"]
multitask = ["axtask/multitask"]
net = ["axdriver", "axnet"]
rtc = []

[dependencies]
axalloc = {workspace = true, optional = true}
axconfig = {workspace = true}
axdisplay = {workspace = true, optional = true}
axdriver = {workspace = true, optional = true}
axerrno = "0.1"
axfs = {workspace = true, optional = true}
axhal = {workspace = true}
axipi = {workspace = true, optional = true}
axlog = {workspace = true}
axmm = {workspace = true, optional = true}
axnet = {workspace = true, optional = true}
axplat = {workspace = true}
axtask = {workspace = true, optional = true}

log = "0.4"

memory_addr = "0.4"
crate_interface = "0.1"
ctor_bare = "0.2"
percpu = { version = "0.2", optional = true}
cfg-if = "1.0"

chrono = {version = "0.4.38", default-features = false}

[target.'cfg(target_arch = "x86_64")'.dependencies]
axplat-x86-qemu-q35 = {workspace = true}

[target.'cfg(target_arch = "aarch64")'.dependencies]
axplat-aarch64-dyn.workspace = true
somehal = "0.4"